@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    Florista Delivery is the premier online floral delivery and gifting service in Bangladesh. Sending flowers is a delightful way to express your love.
</p>
